# Intro to ML ->  Iris Dataset

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/Iris.csv")

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Salary dataset linear regression

In [2]:
df = pd.read_csv("data/salary.csv")
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

    YearsExperience  Salary
30             11.2  127345
31             11.5  126756
32             12.3  128765
33             12.9  135675
34             13.5  139465

## write a python program to calculate slope and y intercept for a simple linear regression method for a dataset containing two features: `cgpa` and `lpa` where `lpa` is the dependent variable and `cgpa` is the independent variable. Note: *"Program need to be written without library function and using OLS method."*